---
layout: base.html
title: About Me
projectName: About Me

---

<section id="project">
    <p class="text-header">I'm Spencer Maher</p>

  <div class="about">
    <div class="about-img">
      <img src="/about/content/spencer.jpg">
    </div>
    <div class="about-text">
      <p class="text-alt-small-left">I design the systems, devices, and experiences that bring joy, create whimsy, and make the world feel a little more colorful. Games, music, animation, and storytelling are essential to who I am, and they endlessly feed my imagination and inspire the optimism I bring into my work.</p>
      <p class="text-alt-small-left">My studies at Pratt Institute shaped a fast-paced, trial-and-error design process grounded in testing and understanding real user needs to make intentional decisions. Nothing makes me happier than creating intuitive, functional designs that feel meaningful to the people they’re made for.</p>
      <p>&nbsp;</p>
      <p class="text-alt-small-left"><a href="mailto:spencermhr@gmail.com">email me</a> if you want to work together, want to commission me, or have any questions about my work.</p>
      <p class="text-alt-small-left">thanks for being here :)</p>
      <p>&nbsp;</p>
      <p class="text-alt-small-left"><a href="/about/content/Spencer_Maher_Resume.pdf" target="_blank">Take a look at my resume</a></p>
    </div>
</section>
<section id="project">
  <div class="p-box-text">
    <p class="text-medium">Education</p>
    <p class="text-alt-small-left">Pratt Institute 2022-2026</p>
    <p class="text-alt-small-left">Bachelor of Industrial Design</p>
    <p class="text-alt-small-left">UX/UI Minor</p>
    <p class="text-medium">Skills</p>
    <p class="text-small">Industrial Design</p>
    <p class="text-alt-small-left">Concept Development ✦ Interaction Design ✦ Sketching ✦ User Research ✦ Usability Testing ✦ Design for Assembly ✦ Enclosure Design</p>
    <p class="text-small">Prototyping & Fabrication</p>
    <p class="text-alt-small-left">Rapid Prototyping ✦ 3D Printing ✦ Laser Cutting ✦ Electronics Prototyping ✦ Microcontroller Programming ✦ Hardware–Software Integration</p>
    <p class="text-small">CAD & Visualization</p>
    <p class="text-alt-small-left">SolidWorks ✦ Fusion 360 ✦ Maya ✦ KeyShot ✦ Arnold Renderer ✦ Photorealistic Rendering ✦ 3D Animation</p>
    <p class="text-small">UX/UI</p>  
    <p class="text-alt-small-left">Figma ✦ Wireframing ✦ User Flows ✦ Journey Mapping ✦ Persona Development ✦ Competitive Analysis</p>
    <p class="text-small">Visual Communication</p>  
    <p class="text-alt-small-left">Adobe Photoshop ✦ Illustrator ✦ InDesign ✦ Procreate ✦ Graphic Design ✦ Photo Editing ✦ Layout Design</p>
    <p class="text-small">Media & Interactive</p>
    <p class="text-alt-small-left">After Effects ✦ Premiere Pro ✦ Unreal Engine ✦ Video Production</p>
  </div>  
</section> 