---
layout: base.html
title: Mumo
projectName: Mumo
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/IO/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/this-website/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">Mumo</p>
    <p class="text-xsmall">2025 ✦ figma ✦ app design ✦ user research ✦</p>
    <p class="text-small">I designed a music app.</p>
    <p class="text-alt-small-left">People connect to music in their own way, but music apps give everyone the same experience. The features that make listening feel personal are scattered across different platforms.</p>
    <p class="text-alt-small-left">Users need an in-depth, unified space that takes care of all their listening needs.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/mumo/content/cover.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">From the start, users can select what types of media they want to listen to, so their app isn't cluttered with things they won't interact with.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/onboarding.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Users can choose what is on their homepage and how it's organized. This can include things like current favorites, friend activity, reccomendations, nearby events, and new releases.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/home.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">In the library, users can view the playlists, artists, and albums they have saved. The library has two built-in playlists--one that has every song on every playlist, and one that has the user's selected favorites.</p>
    <p class="text-alt-small-left">Users can group playlists together and play them all at once.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/library.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">The profile page can be customized like the homepage. Here, users can see in depth information about their listening habits, and choose if they want that to show on their public profile.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/profile.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Users can send songs to friends, message them, and create playlists together. Also, users can leave comments and ratings on songs, and view those left by other users.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/friends.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Mumo would allow users to create their own custom themes, like Winamp.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/mumo/content/customization.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-small">User Research</p>
    <p class="text-alt-small-left">I recieved 40+ survey responses, and performed 3 in-depth interviews.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/piechart.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I distilled my research into main trends.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/trends.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I created two personas with different listening styles.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/personas.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I made an empathy map of what listeners say, think, do, and feel.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/empathymap.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I mapped the typical user's journey of existing music apps by evaluating the user's goal, touchpoints, actions, thoughts & feelings, painpoints, and opportunities for improvement from the discovery phase through long-term use.</p>
    <p class="text-alt-small-left">Then, I came up with three opportunities for my app to stand out against current competition.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/opportunities.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I made a prototype of the app using Figma.</p>
    <p class="text-alt-small-left"><a href="https://www.figma.com/proto/uOz3PTX5zqvGDCOXntJXu1/Home?node-id=176-114&t=lc0wsK9bwyem6Yjr-1" target="_blank">Test it out</a></p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/mumo/content/figma.png">
  </div>
</section>