---
layout: main.html
title: mumo - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/pipe-throne/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/sen-charger/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>       
      <h1 class="pp-title">mumo</h1>
      <p class="pp-body">
        Mumo gives users complete customization to make their experience listening to and collecting music as personal as their taste.
      </p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <img src="/projects/mumo/content/cover.jpg" alt="">
      </div>
    </div>
  </section>

  <!-- motives section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">motives</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>


  <section class="pp-motives">
    <div class="pp-motives-left">
      <div class="pp-motive-item">
        <span class="pp-motive-num">01.</span>
        <p class="pp-body">
          People connect to music in their own way, but music apps give everyone the same experience. The features that make listening feel personal are scattered across different platforms. Users need an in-depth, unified space that takes care of all their listening needs.
        </p>
      </div>
    </div>
    <div class="pp-motives-right">
      <div class="pp-img-standard">
        <img src="/projects/mumo/content/music-apps.jpg" alt="">
      </div>
    </div>
  </section>

  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 5vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        My design process was rooted in weeks of research.
      </p>
      <p class="pp-body">
        I recieved 40+ survey responses, and performed 3 in-depth interviews from people that use different streaming platforms.
      </p>
    </div>
    <div class="pp-img-standard-t">
      <img src="/projects/mumo/content/piechart.png" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard-t pp-img-large">
      <img src="/projects/mumo/content/trends.png" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I distilled my findings into main trends.
      </p>
    </div>
  </section>

  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I created two personas with different listening styles.
      </p>
    </div>
    <div class="pp-img-standard-t">
      <img src="/projects/mumo/content/personas.png" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard-t pp-img-large">
      <img src="/projects/mumo/content/empathymap.png" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I made an empathy map of what listeners say, think, do, and feel to further understand the users painpoints.
      </p>
    </div>
  </section>

  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I mapped the typical user's journey of existing music apps by evaluating the user's goal, touchpoints, actions, thoughts & feelings, painpoints, and opportunities for improvement from the discovery phase through long-term use.
      </p>
    </div>
    <div class="pp-img-standard-t">
      <img src="/projects/mumo/content/userjourney.png" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard-t pp-img-large">
      <img src="/projects/mumo/content/opportunities.png" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I came up with three opportunities for my app to stand out against current competition.
      </p>
    </div>
  </section>

  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I made a prototype of the app using Figma.
      </p>
      <a class="pp-body" href="https://www.figma.com/proto/uOz3PTX5zqvGDCOXntJXu1/Home?node-id=176-114&t=lc0wsK9bwyem6Yjr-1" target="_blank">Test it out&nbsp;<span class="btn-arrow">🡥</span></a>
    </div>
    <div class="pp-img-standard-t">
      <img src="/projects/mumo/content/figma.png" alt="">
    </div>
  </section>


  <!-- user flow section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">user flow</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal-t">
        <img src="/projects/mumo/content/onboarding-s.png" alt="">
      </div>
      <p class="pp-caption">
        From the start, users can select what types of media they want to listen to, so their app isn't cluttered with things they won't interact with.
      </p>    
      </div>
    <div class="pp-details-item">
      <div class="pp-img-equal-t">
        <img src="/projects/mumo/content/home-s.png" alt="">
      </div>
      <p class="pp-caption">
        Users can choose what is on their homepage and how it's organized. This can include things like current favorites, friend activity, reccomendations, nearby events, and new releases.
      </p>
    </div>
  </section>


    <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal-t">
        <img src="/projects/mumo/content/library-s.png" alt="">
      </div>
      <p class="pp-caption">
        In the library, users can view the playlists, artists, and albums they have saved. The library has two built-in playlists--one that has every song on every playlist, and one that has the user's selected favorites. Users can group playlists together and play them all at once.
      </p>
      </div>
    <div class="pp-details-item">
      <div class="pp-img-equal-t">
        <img src="/projects/mumo/content/profile-s.png" alt="">
      </div>
      <p class="pp-caption">
        The profile page can be customized like the homepage. Here, users can see in depth information about their listening habits, and choose if they want that to show on their public profile.
      </p>
    </div>
  </section>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal-t">
        <img src="/projects/mumo/content/friends-s.png" alt="">
      </div>
      <p class="pp-caption">
        Users can send songs to friends, message them, and create playlists together. Also, users can leave comments and ratings on songs, and view those left by other users.
      </p>    
      </div>
    <div class="pp-details-item">
      <div class="pp-img-equal" style="aspect-ratio:8.5/5.4">
        <img src="/projects/mumo/content/customization.jpg" alt="">
      </div>
      <p class="pp-caption">
        Mumo would allow users to create their own custom themes, like Winamp.
      </p>
    </div>
  </section>


  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn"><span class="btn-arrow">🡠</span>&nbsp;to projects</a> 
    <a href="#top" class="explore-btn"><span class="btn-arrow">🡡</span>&nbsp;to top</a>
  </div>

      <div style="height: 4vh"></div>


  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/reem/"><img src="/projects/reem/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/IO/"><img src="/projects/IO/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/my-digital-home/"><img src="/projects/my-digital-home/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/pipe-throne/"><img src="/projects/pipe-throne/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/diski/"><img src="/projects/diski/content/cover.jpg"></a>
    </div>
  </div>



</div>