---
layout: base.html
title: Diski
projectName: Diski
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/reem/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/my-digital-home/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">Diski</p>
    <p class="text-xsmall">2024 ✦ collection design ✦ model making ✦</p>
    <p class="text-small">I designed a CD ecosystem for modern music listeners.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/diski-collection.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">In the era of being able to stream any song at the press of a button, CDs are fading out. This project aims to bridge the gap between the two media forms. A disk changer that holds 8 disks (and their cases), remembers which songs are your favorites, and lets you choose what you want to shuffle gives listeners more freedom in hopes of making physical media more desirable to younger generations.</p>
    <p class="text-alt-small-left">This collection also includes a CD player for smaller spaces with a visible disk and a slot for the case, as well as modular disk storage.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/disk-changer-labeled.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/cd-buttons.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Behind each CD is a double-click mechanism, so you can easily push in and it pops out. Satisfying!</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/storage.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I wanted to make my model as tactile as the real product would be. I used keyboard switches for the buttons and detented potentiometers for the knobs, and the rest of the touchpoints were 3D printed to move as well.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/button.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/diski-colors.gif">
  </div>
  <div class="p-box-text">
    <p class="text-small">Behind the Scenes</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/interior.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/keyboard.JPG">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I divided the main body of the disk changer into 6 parts to fit on my 3D printer, and added interlocking keys for easy assembly.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/diski/content/exploded.jpg">
  </div>
  <div class="p-full-img-t">
    <img src="/projects/diski/content/sketches-t.png">
  </div>
  <div class="p-full-img-t">
    <img src="/projects/diski/content/sketches2-t.png">
  </div>
</section>