---
layout: main.html
title: diski - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/spencers-gallery/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/pipe-throne/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>       
      <h1 class="pp-title">diski</h1>
      <p class="pp-body">
        In the era of being able to stream any song at the press of a button, CDs are fading out. This project aims to bridge the gap between the two media forms. A disk changer that holds 8 disks (and their cases), remembers which songs are your favorites, and lets you choose what you want to shuffle gives listeners more freedom in hopes of making physical media more desirable to younger generations.
      </p>
      <p class="pp-body">
        This collection also includes a CD player for smaller spaces with a visible disk and a slot for the case, as well as modular disk storage.
      </p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <img src="/projects/diski/content/diski-collection.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/diski/content/cover.jpg" alt="">
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/diski/content/button.jpg" alt="">
      </div>
    </div>
  </section>


  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/diski/content/disk-changer-labeled.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        To make the CD listening experience more flexible like streaming, I incorporated these features:
      </p>
      <p class="pp-body">
        ✦ a big special button for adding songs to a favorites list<br>
        ✦ a memory of what songs on each CD are favorites<br>
        ✦ shuffle capabilities between select disks<br>
        ✦ adjustable bass
      </p>
    </div>
  </section>

  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        Users can mix & match body and button color from a set of choices.
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/diski/content/diski-colors.gif" alt="">
    </div>
  </section>


  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 5vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">I deduced what's needed:</p>
      <p class="pp-body">
        1. tactile buttons & knobs<br>
        2. room for multiple CDs & their cases<br>
        3. a way to integrate streaming features into a physical player
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/diski/content/sketches.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/diski/content/models.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        Once I had my form factor mostly figured out, I made prototypes to work out the details & proportions.
      </p>
    </div>
  </section>

    <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I modeled the collection in Solidworks, and I split the disk changer body into 6 parts for efficient 3D printing.
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/diski/content/exploded-crop.jpg" alt="">
    </div>
  </section>


  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/diski/content/cd.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I designed the CD player and storage using the design language I established with the disk changer.
      </p>
      <div style="height: 1vh"></div>
      <p class="pp-body">
        ✦ The CD player contains the same favoriting & bass adjustment technology, meant for smaller spaces and those who only want to play one disk at a time. The CD player is clear, so users can see the disk spin.
      </p>
            <div style="height: 1vh"></div>
      <p class="pp-body">
        ✦ The modular CD storage has room for 8 CDs, just like the disk changer. It keeps their collection tied to their player.
      </p>
    </div>
  </section>

  <!-- details matter section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">details matter</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal" style="aspect-ratio: 3/2">
        <img src="/projects/diski/content/storage.jpg" alt="">
      </div>
      <p class="pp-caption">
        Behind each CD is a double-click mechanism, so you can easily push in and it pops out. Satisfying!
      </p>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal" style="aspect-ratio: 3/2">
        <img src="/projects/diski/content/tactility.jpg" alt="">
      </div>
      <p class="pp-caption">
        I used keyboard switches, detented poteniometers, and 3D printed toggles + a wheel to make my prototype as interactive as the real product would be.
      </p>
    </div>
  </section>
  

  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn"><span class="btn-arrow">🡠</span>&nbsp;to projects</a> 
    <a href="#top" class="explore-btn"><span class="btn-arrow">🡡</span>&nbsp;to top</a>
  </div>

      <div style="height: 4vh"></div>



  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/reem/"><img src="/projects/reem/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/dr-seuss-chess/"><img src="/projects/dr-seuss-chess/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/IO/"><img src="/projects/IO/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/my-digital-home/"><img src="/projects/my-digital-home/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/sen-charger/"><img src="/projects/sen-charger/content/cover.jpg"></a>
    </div>
  </div>


</div>