<div class="menu-group" data-group="electronics">
  <button class="menu-section"><a href="#">Electronics Design</a></button>
  <div class="menu-projects">
    <button class="menu-project"><a href="/projects/reem/">Reem</a></button>
    <button class="menu-project"><a href="/projects/diski/">Diski</a></button>
    <button class="menu-project"><a href="/projects/my-digital-home/">My Digital Home</a></button>
    <button class="menu-project"><a href="/projects/sen-charger/">Sen Charger</a></button>
    <button class="menu-project"><a href="/projects/IO/">IO</a></button>
  </div>
</div>

<div class="menu-group" data-group="ui">
  <button class="menu-section"><a href="#">User Interfaces</a></button>
  <div class="menu-projects">
    <button class="menu-project"><a href="/projects/mumo/">Mumo</a></button>
    <button class="menu-project"><a href="/projects/this-website/">this website</a></button>
  </div>
</div>

<div class="menu-group" data-group="fun">
  <button class="menu-section"><a href="#">Fun</a></button>
  <div class="menu-projects">
    <button class="menu-project"><a href="/projects/dr-seuss-chess/">Dr. Seuss Chess</a></button>
    <button class="menu-project"><a href="/projects/spencers-gallery/">Spencer's Gallery</a></button>
    <button class="menu-project"><a href="/projects/pipe-throne/">Pipe Throne</a></button>
  </div>
</div>
{% if projectName %}
<p class="project-menu" style="margin-left:26px;"><a href="/">back to home</a></p>
{% endif %}