---
layout: base.html
title: Sen Charger
projectName: Sen Charger
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/my-digital-home/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/IO/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">Sen Charger</p>
    <p class="text-xsmall">2026 ✦ model making ✦</p>
    <p class="text-small">I designed a laptop charger that keeps the cords compact and tangle-free.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/sen-charger/content/in-context.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Bulky chargers for power-hungry gaming and creative work laptops leave you hanging when it comes to storing the wires. They get tangled, are a mess in your bag and an eyesore to look at, and the process of pulling out your charger just seems unconsidered.</p>
    <p class="text-alt-small-left">The Sen Charger reimagines the form of a high-wattage laptop charger--the type with the AC adapter in the middle of two cords--into a cylindrical form that neatly spools both ends of the cords and tucks them away.</p>
  </div>
  <div class="p-full-img">
    <video src="https://spencermaher.neocities.org/sen-charger/spencer-capstone-compressed.mp4" type="video/mp4" width="100%" muted autoplay controls loop playsinline webkit-playsinline></video>
  </div>
  <div class="p-full-img">
    <img src="/projects/sen-charger/content/open.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/sen-charger/content/charger-vertical-blue-wide.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-small">Behind the Scenes</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/sen-charger/content/fullpage.png">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I used a bayonet locking mechanism for the wire spools.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/sen-charger/content/section.png">
  </div>
  <div class="p-full-img">
    <img src="/projects/sen-charger/content/pieces.jpg">
  </div>
</section>