---
layout: main.html
title: my digital home - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/sen-charger/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/reem/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>       
      <h1 class="pp-title">my digital home</h1>
      <p class="pp-body">This project reimagines everyday technology as an intentional, gamified tool that helps users organize and focus on real-life goals instead of fueling distraction or isolation.</p>
      <p class="pp-body">I wanted to design something that makes people feel more motivated to work to achieve their dreams, while maintaining social connections and managing daily life. I did a deep dive into 2000's tech, dumbphones, phone addiction, gamification, and Pokemon Go to reach my design conclusion.</p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <img src="/projects/my-digital-home/content/finalmodel.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <video src="https://spencermaher.neocities.org/my-digital-home/MyDigitalHome.mp4" type="video/mp4" width="100%" muted autoplay controls playsinline webkit-playsinline loop></video>
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/my-digital-home/content/cover.jpg" alt="">
      </div>
    </div>
  </section>

{# 
  <div class="pp-img-trio">
        <div class="pp-img-trio-large">
    <video src="https://spencermaher.neocities.org/my-digital-home/MyDigitalHome.mp4" type="video/mp4" width="100%" muted autoplay controls playsinline webkit-playsinline loop></video>
        </div>
        <div class="pp-img-trio-stack">
          <div class="pp-img-trio-small">
            <img src="/projects/my-digital-home/content/finalmodel-purp.jpg" alt="">
          </div>
          <div class="pp-img-trio-small">
            <img src="/projects/my-digital-home/content/cover.jpg" alt="">
          </div>
        </div>
      </div>
#}


  <!-- motives section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">motives</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>


  <section class="pp-motives">
    <div class="pp-motives-left">
      <div class="pp-motive-item">
        <span class="pp-motive-num">01.</span>
        <p class="pp-body">58% of Gen Z is trying to reduce their social media usage. Smartphones are a catalyst; they encourage passive consumption, isolation, and addiction through endless apps and short-form content.</p>
      </div>
      <div class="pp-motive-item">
        <span class="pp-motive-num">02.</span>
        <p class="pp-body">Many have opted for a dumbphone instead, which often doesn't last long. Dumbphones reduce screen time, but fail to replace motivation, structure, or social connection.</p>
      </div>
      <div class="pp-motive-item">
        <span class="pp-motive-num">03.</span>
        <p class="pp-body">On the flip side, Pokémon Go successfully motivated outdoor activity and spontaneous in-person interaction through gamification. Care-based and habit-building games have proven that visual progress and responsibility drive long-term behavior change.</p>
      </div>
    </div>
    <div class="pp-motives-right">
      <div class="pp-img-standard">
        <img src="/projects/my-digital-home/content/graphic.jpg" alt="">
      </div>
    </div>
  </section>

  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 2vw"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 2vw"></div>
      <p class="pp-body">I deduced what's needed:</p>
      <p class="pp-body">1. screen<br>2. tactile controls<br>3. keyboard<br>4. camera<br>5. portability</p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/my-digital-home/content/full-page.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/my-digital-home/content/prototypes.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">After testing foam prototypes for the physical form, I landed on the sliding prototype, because it:</p>
      <p class="pp-body">
        ✦ keeps the primary features handy when closed<br>
        ✦ keeps the keyboard tucked away until you need it<br>
        ✦ maximizes space for the screen and keyboard<br>
        ✦ it's fun
      </p>
    </div>
  </section>

  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">I kept the controls to what people already recognize, which is why I chose a D-pad and a few simple buttons.</p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/my-digital-home/content/labeled.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/my-digital-home/content/spraypaint2.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">Since modern tech is mostly neutral colors, I chose a vibrant, metallic cerulean blue. this speaks to the colorful devices of the 2000's that inspired me.</p>
    </div>
  </section>

  <!-- details matter section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">details matter</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/my-digital-home/content/keyboard.jpg" alt="">
      </div>
      <p class="pp-caption">For more comfortable typing, I made the screen as thin as possible.</p>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/my-digital-home/content/parts.jpg" alt="">
      </div>
      <p class="pp-caption">For a convincing final model, I split my model for 3D printing so it would have a parting line—just like it would if it was injection molded.</p>
    </div>
  </section>

  <!-- user flow section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">user flow</div>
    <div class="section-line short"></div>
  </div>

  <section class="pp-userflow">

    <h3 class="pp-flow-title">build your digital life</h3>
    <div class="pp-flow-row">
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides2.jpg" alt=""></div>
        <p class="pp-caption">Customize your home and character.</p>
      </div>
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides3.jpg" alt=""></div>
        <p class="pp-caption">Use it like a phone.</p>
      </div>
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides4.jpg" alt=""></div>
        <p class="pp-caption">Adopt pets, and assign each a custom goal of yours. By making progress towards your goal, your pet stays happy and levels up.</p>
      </div>
    </div>

    <h3 class="pp-flow-title">meet other players IRL</h3>
    <div class="pp-flow-row">
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides13.jpg" alt=""></div>
        <p class="pp-caption">When you travel, you automatically pick up items. Collecting these items is an incentive to meet other players IRL for trading.</p>
      </div>
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides10.jpg" alt=""></div>
        <p class="pp-caption">Approach nearby players to trade, or visit each other's homes to fulfill your pet's social needs.</p>
      </div>
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides11.jpg" alt=""></div>
        <p class="pp-caption">Keep track of the people you've come across—you never know if someone could be a friend.</p>
      </div>
    </div>

    <h3 class="pp-flow-title">track goals & see how far you've come</h3>
    <div class="pp-flow-row">
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides6.jpg" alt=""></div>
        <p class="pp-caption">You & your pets level up by traveling distance, going outside, being social, and most importantly..</p>
      </div>
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides5.jpg" alt=""></div>
        <p class="pp-caption">Making progress to your goals. Your pets are there to remind you that you're putting in the work, which is paying off.</p>
      </div>
      <div class="pp-flow-item">
        <div class="pp-img-standard"><img src="/projects/my-digital-home/content/videoslides12.jpg" alt=""></div>
        <p class="pp-caption">At the end of each day, you get to see what you've accomplished. Visual progress is the key to motivation and success.</p>
      </div>
    </div>

  </section>


  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn"><span class="btn-arrow">🡠</span>&nbsp;to projects</a> 
    <a href="#top" class="explore-btn"><span class="btn-arrow">🡡</span>&nbsp;to top</a>
  </div>

      <div style="height: 4vh"></div>

  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/reem/"><img src="/projects/reem/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/dr-seuss-chess/"><img src="/projects/dr-seuss-chess/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/IO/"><img src="/projects/IO/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/this-website/"><img src="/projects/this-website/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/spencers-gallery/"><img src="/projects/spencers-gallery/content/cover.jpg"></a>
    </div>
  </div>




</div>