---
layout: base.html
title: My Digital Home
projectName: My Digital Home
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/diski/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/sen-charger/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">My Digital Home</p>
    <p class="text-xsmall">2024 ✦ game design ✦ model making ✦</p>
    <p class="text-small">I designed a mobile device and its own gamified user interface.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/my-digital-home/content/finalmodel-pink.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">This project reimagines everyday technology as an intentional, gamified tool that helps users organize and focus on real-life goals instead of fueling distraction or isolation.</p>
    <p class="text-alt-small-left">I wanted to design something that makes people feel more motivated to work to achieve their dreams, while maintaining social connections and managing daily life. I did a deep dive into 2000's tech, dumbphones, phone addiction, gamification, and Pokemon Go to reach my design conclusion.</p>
  </div>
  <div class="p-full-img">
    <video src="https://spencermaher.neocities.org/my-digital-home/MyDigitalHome.mp4" type="video/mp4" width="100%" muted autoplay controls playsinline webkit-playsinline loop></video>
  </div>
  <div class="p-full-img">
    <img src="/projects/my-digital-home/content/cover.jpg">
  </div>
  <div class="p-full-img-t">
    <img src="/projects/my-digital-home/content/UI-transparent.png">
  </div>
  <div class="p-box-text">
    <p class="text-small">Behind the Scenes</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/my-digital-home/content/sketches.png">
  </div>
  <div class="p-full-img-t">
    <img src="/projects/my-digital-home/content/parts.png">
  </div>
  <div class="p-full-img">
    <img src="/projects/my-digital-home/content/spraypaint.jpg">
  </div>
</section>