---
layout: main.html
title: IO - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/dr-seuss-chess/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/this-website/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>       
      <h1 class="pp-title">IO</h1>
      <p class="pp-body">
           Everyone who has a custom PC wants it to be.. well, custom. I chose to design this PC case because I was inspired by space-age tech, submarines, and underwater motifs.
      </p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <img src="/projects/IO/content/final-io.gif" alt="">
      </div>
    </div>
  </section>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/IO/content/IO-wide.jpg" alt="">
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/IO/content/IO-white.jpg" alt="">
      </div>
    </div>
  </section>


  <!-- motives section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">motives</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>


  <section class="pp-motives">
    <div class="pp-motives-left">
      <div class="pp-motive-item">
        <span class="pp-motive-num">01.</span>
        <p class="pp-body">
          There's a huge gap in the PC case market. If you want something that isn't a modern tech-style black case, you're stuck with minimal options--or you're better off building one yourself. In the past couple of years, the variety of options has improved, albeit a small amount.
        </p>
      </div>
      <div class="pp-motive-item">
        <span class="pp-motive-num">02.</span>
        <p class="pp-body">
          PC cases are an interesting medium. Really, they just have to fit the components inside, and they can take on any form or shape. There are many unexplored opportunities in this area of design, that can be discovered one idea at a time. 
        </p>
      </div>
    </div>
    <div class="pp-motives-right">
      <div class="pp-img-standard">
        <img src="/projects/IO/content/pc-cases-voltcave.jpg" alt="">
      </div>
    </div>
  </section>

  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 5vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">Check out the video of my process:</p>
    </div>
    <div class="pp-img-standard">
      <iframe width="560" height="515" src="https://www.youtube.com/embed/xiF000vJD18?si=J5OKHDd-o1CKgd_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/IO/content/all-sketches.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">I explored a lot of ideas through sketching. Since I was on a budget and had only 6 weeks, I needed to quickly flesh out the design so I could start prototyping.</p>      
      <p class="pp-body">&nbsp;</p>
      <p class="pp-body">I already had a definition of what I was working with--my own PC parts--which meant I was designing a full tower PC case. This, and the fact that I had built PCs before, made it easier to jump straight into ideation.</p>
    </div>
  </section>

  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I measured all of my PC parts and every single screw hole on my case, and replicated the base dimensions in Solidworks.
      </p>
      <p class="pp-body">&nbsp;</p>
      <p class="pp-body">
        From there, I modeled the overall look of the PC, and then I went over the design again to optimize for lasercutting and 3D printing--which meant dividing it into 54 total parts, each of which with connection points for easy assembly. 
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/IO/content/models.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/IO/content/IO-panel-boards.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        As I was modeling, I realized I had to figure out where the I/O panel would go--i.e. the power and reset buttons, and extra USB ports. I had the idea of making a separate device that belongs on the desktop, below the monitor so it would always be within reach when sitting at my desk.
      </p>    
        <p class="pp-body">&nbsp;</p>
      <p class="pp-body">
        I found some parts online that I could combine into one device. I then modeled the device to match the PC case, and 3D printed it in two parts.
      </p>      
    </div>
  </section>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I lasercut the large panels with 3mm and 4.5mm clear acrylic. After my first prototype, I would definitely choose a thicker acrylic or more rigid material for a final working model.
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/IO/content/lasercut.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/IO/content/final-model.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        After 3D printing the rest of the pieces in PETG for durability and temperature tolerance, I could finally assemble the case with two part epoxy. I discovered a myriad of things that needed revision. 
      </p>
      <p class="pp-body">
        ✦ the acrylic was too weak and broke between screw holes<br>
        ✦ my 3D printer needed more fine tuning for printing in PETG<br>
        ✦ I needed an easier way to be able to access the inside of the case<br>
      </p>
    </div>
  </section>


<!-- details matter section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">details matter</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/IO/content/IO-white.jpg" alt="">
      </div>
      <p class="pp-caption">
        It's oriented so it's easy to plug things in and run the cords underneath the device.
      </p>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/IO/content/open.jpg" alt="">
      </div>
      <p class="pp-caption">
        The front of the case opens so you can access the inside.
      </p>
    </div>
  </section>


  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn">🡠 to projects</a>
    <a href="#top" class="explore-btn">🡡 to top</a>
  </div>

      <div style="height: 4vh"></div>



  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/reem/"><img src="/projects/reem/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/dr-seuss-chess/"><img src="/projects/dr-seuss-chess/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/my-digital-home/"><img src="/projects/my-digital-home/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/mumo/"><img src="/projects/mumo/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/sen-charger/"><img src="/projects/sen-charger/content/cover.jpg"></a>
    </div>
  </div>


</div>