---
layout: base.html
title: IO
projectName: IO
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/sen-charger/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/mumo/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">IO</p>
    <p class="text-xsmall">2024 ✦ PC building ✦ model making ✦</p>
    <p class="text-small">I designed a 3D printed PC case with an external IO device for convenient power and USB access.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/final-io.gif">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Everyone who has a custom PC wants it to be.. well, custom. However, most PC cases on the market follow a certain tech-y black and rainbow RGB theme, which isn't everyones favorite. I chose to design this PC case because I was inspired by space-age tech, submarines, and underwater motifs.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/io.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/touch.png">
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/cover.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-small">Behind the Scenes</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/IO/content/full-page.png">
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/overlay-drawings.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I measured every millimeter of my PC to model the base dimensions.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/base-dimensions.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Once I decided on a form, I modeled and divided it for lasercutting and 3D printing.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/pc-exploded.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/lasercut.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/3d-print.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/final-model.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I combined a USB panel and power/reset board for the IO device.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/IO/content/IO-panel-boards.jpg">
  </div>
</section>