---
layout: main.html
title: Illustration - Spencer M
---


<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

    <div style="height:2vh"></div>

    <div class="section-header" style="margin-top: 0vh">
    <div class="section-line"></div>
    <div class="section-title">illustration</div>
    <div class="section-line short"></div>
    </div>
    

    <div class="pp-hero">
        <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>
    </div>

    <div class="Rw"> 

    <div class="Col">
        <img src="/illustration/content/idle.jpg">
        <img src="/illustration/content/still-life.JPG">
        <img src="/illustration/content/still-life-ink-1.JPG">
    </div> 
    <div class="Col">
        <img src="/illustration/content/cast-shadows.JPG">
        <img src="/illustration/content/isometric-city.jpg">
        <img src="/illustration/content/still-life-ink-2.JPG">
    </div> 
    <div class="Col">
        <img src="/illustration/content/abby-christmas.jpg">
        <img src="/illustration/content/digital-home.jpg">
        <img src="/illustration/content/characters.jpg">
        <img src="/illustration/content/mushroom-tree.jpg">
        <img src="/illustration/content/chick.jpg">
    </div> 

    </div>


</div>