---
layout: main.html
title: Illustration - Spencer M
---


<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>


    <div class="section-header" style="margin-top: 0vh">
    <div class="section-line"></div>
    <div class="section-title">illustration</div>
    <div class="section-line short"></div>
    </div>
    
    <div style="height:2vh"></div>

    <div class="Rw"> 

    <div class="Col">
        <img src="/illustration/content/idle.jpg">
        <img src="/illustration/content/abby-christmas.jpg">
    </div> 
    <div class="Col">
        <img src="/illustration/content/abby-christmas.jpg">
    </div> 
    <div class="Col">
        <img src="/illustration/content/chick.jpg">
    </div> 

    </div>


</div>