---
layout: base.html
title: this website
projectName: this website
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/mumo/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/dr-seuss-chess/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">this website</p>
    <p class="text-xsmall">2026 ✦ web design ✦ website building ✦</p>
    <p class="text-small">I designed a personal website to showcase my work.</p>
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Designing the way the work is showed and the space around it is just as important as the project itself. A modern black & white theme may look the most professional, but it doesn't speak to the kind of designer I am.</p>
    <p class="text-alt-small-left">I love color, tactility, and retro-futuristic design--whether that be a physical product, graphic, or game. I chose to design my website to reflect this playfulness, while keeping it simple and letting the projects speak for themselves.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/this-website/content/website.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">I mocked up the background, header, and footer in Adobe Illustrator, and did some tests to see how I wanted to display my content.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/this-website/content/illustrator.jpg">
  </div>
  <div class="p-box-text">
    <p>&nbsp;</p>
    <p class="text-small">Development</p>
    <p class="text-alt-small-left">This website is hand-coded using HTML, CSS, and Javascript. I used Eleventy, a static site generator, to write layouts and reuse them across my pages automatically. So if I want to update my header or sidebar, I don't have to manually change the code on every page.</p>
    <p class="text-alt-small-left">I write the code in Visual Studio, push versions to Github using Windows Terminal, which automatically updates my website on Neocities. This fully automated process makes it easy to upload text and photos, and add new projects in minutes.</p>    
    <p class="text-alt-small-left"><a href="https://github.com/spencermhr-ui/portfolio" target="_blank">Take a look at the code</a></p>
  </div>
  <div class="p-full-img">
    <img src="/projects/this-website/content/code.jpg">
  </div>
</section>