---
layout: main.html
title: this website - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/IO/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/spencers-gallery/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow">🡠</a>
      <h1 class="pp-title">this website</h1>
      <p class="pp-body">
        Designing the way the work is showed and the space around it is just as important as the project itself. I designed & coded my website to tell my story as a designer.
      </p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <img src="/projects/this-website/content/mdh.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal" style="aspect-ratio:5/3">
        <img src="/projects/this-website/content/cover.jpg" alt="">
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal" style="aspect-ratio:5/3">
        <img src="/projects/this-website/content/about-me.jpg" alt="">
      </div>
    </div>
  </section>


  <!-- motives section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">motives</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>


  <section class="pp-motives">
    <div class="pp-motives-center">
      <div class="pp-motive-item">
        <span class="pp-motive-num">01.</span>
        <p class="pp-body">
          I wanted to learn how to code my own websites from scratch, since it's such an interesting and open medium.
        </p>
      </div>
      <div class="pp-motive-item">
        <span class="pp-motive-num">02.</span>
        <p class="pp-body">
          I figured it is important to understand the ins and outs of front-end development as a product designer. So, why not make my own website a learning opportunity, and an example of what I can do?
        </p>
      </div>
    </div>
  </section>

  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 5vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I mocked up the content first in Illustrator.
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/this-website/content/illustrator.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/this-website/content/code.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I coded my website using HTML, CSS, and Javascript. I used Eleventy, a static site generator, to write layouts and reuse them across my pages automatically.
      </p>
      <p class="pp-body">&nbsp;</p>
      <p class="pp-body">
        I write the code in Visual Studio, push versions to Github using Windows Terminal, which automatically updates my website on Neocities. This fully automated process makes it easy to upload text and photos, and add new projects in minutes.
      </p>
    </div>
  </section>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <a href="/home/" class="pp-body">Check out the old version of my website 🡥</a>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/this-website/content/website.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/this-website/content/versions.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        After recieving feedback on my first published version, I went back to Illustrator to think through some changes.
      </p>   
      <p class="pp-body">
        ✦ a more modern & responsive layout<br>
        ✦ see an overview of a project + thumbnails of other projects without scrolling<br>
        ✦ turn the project categories into tags<br>
        ✦ tell the design story and process consistently across all projects<br>
      </p>   
    </div>
  </section>




  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn">🡠 to projects</a>
    <a href="#top" class="explore-btn">🡡 to top</a>
  </div>

      <div style="height: 4vh"></div>



  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/dr-seuss-chess/"><img src="/projects/dr-seuss-chess/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/spencers-gallery/"><img src="/projects/spencers-gallery/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/mumo/"><img src="/projects/mumo/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/pipe-throne/"><img src="/projects/pipe-throne/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/diski/"><img src="/projects/diski/content/cover.jpg"></a>
    </div>
  </div>


</div>