---
layout: base.html
title: Spencer's Gallery
projectName: Spencer's Gallery
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/dr-seuss-chess/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/pipe-throne/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">Spencer's Gallery</p>
    <p class="text-xsmall">2025 ✦ unreal engine ✦</p>
    <p class="text-small">I made a virtual gallery tour for my artwork.</p>
  </div>
  <div class="p-full-img">
    <video src="https://spencermaher.neocities.org/spencers-gallery/spencersgallery.mp4" type="video/mp4" width="100%" muted autoplay controls playsinline webkit-playsinline loop></video>
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">In a virtual world, anything is possible. I used unreal engine to reimagine my work, by playing with scale and designing the spaces in which the work is displayed. My small sculptures became huge installations, my sketchbook pages got bigger by a hundredfold, and I designed rooms to reflect the objects inside.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/spencers-gallery/content/gallery.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/spencers-gallery/content/tech-room.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-small">Behind the Scenes</p>
    <p class="text-alt-small-left">Since it wouldn't be my gallery without me, I had to create a version of myself to be the tour guide. Follow me around the gallery, and get a free souvenir of my character delivered straight to you as a thank-you for visiting.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/spencers-gallery/content/maya-model.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/spencers-gallery/content/model.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/spencers-gallery/content/birds-eye.jpg">
  </div>
</section>