---
layout: main.html
title: spencer's gallery - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/this-website/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/diski/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>       
      <h1 class="pp-title">spencer's gallery</h1>
      <p class="pp-body">
        In a virtual world, anything is possible. I used unreal engine to reimagine my work, by designing the spaces to reflect the pieces inside.
      </p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <iframe width="100%" height="515" src="https://www.youtube.com/embed/sRppUovPCxI?si=XYjqUESY87XMeetT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/spencers-gallery/content/model.jpg" alt="">
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/spencers-gallery/content/tech-room.jpg" alt="">
      </div>
    </div>
  </section>


  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 5vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I created different rooms to display different types of projects in Unreal Engine. I scaled up my sculptural projects and 2D drawings, so they became large installations.
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/spencers-gallery/content/outside.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/spencers-gallery/content/maya.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I modeled some assets in Maya and Solidworks.
      </p>      
    </div>
  </section>

  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        Since it wouldn't be my gallery without me, I had to create a version of myself to be the tour guide. I modeled it in Maya, used a running animation from Mixamo, and set my character up to run along a spline throughout the gallery.
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/spencers-gallery/content/spline.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/spencers-gallery/content/model.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I 3D printed the character I made, to be the thank-you gift to visitors.
      </p>      
    </div>
  </section>


<!-- details matter section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">details matter</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal" style="aspect-ratio:10/7">
        <img src="/projects/spencers-gallery/content/souvie.jpg" alt="" >
      </div>
      <p class="pp-caption">
        At the end of the tour, there's a pillar where visitors would be able to order a free souvenir.
      </p>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal" style="aspect-ratio:10/7">
        <img src="/projects/spencers-gallery/content/detail.jpg" alt="">
      </div>
      <p class="pp-caption">
        I used high-res scans of my drawings so the details could be seen up close.
      </p>
    </div>
  </section>


  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn"><span class="btn-arrow">🡠</span>&nbsp;to projects</a> 
    <a href="#top" class="explore-btn"><span class="btn-arrow">🡡</span>&nbsp;to top</a>
  </div>

      <div style="height: 4vh"></div>



  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/reem/"><img src="/projects/reem/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/this-website/"><img src="/projects/this-website/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/my-digital-home/"><img src="/projects/my-digital-home/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/pipe-throne/"><img src="/projects/pipe-throne/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/diski/"><img src="/projects/diski/content/cover.jpg"></a>
    </div>
  </div>



</div>