---
layout: main.html
title: pipe throne - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/diski/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/mumo/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>       
      <h1 class="pp-title">Pipe Throne</h1>
      <p class="pp-body">
        Unique or personal artifacts deserve attention towards how they're displayed. This elegant piece of glass needed a cushion that was just as elegant, to elevate the smoking experience.
      </p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <img src="/projects/pipe-throne/content/cover.jpg" alt="">
      </div>
    </div>
  </section>


  <!-- motives section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">motives</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>


  <section class="pp-motives">
    <div class="pp-motives-left">
      <div class="pp-motive-item">
        <span class="pp-motive-num">01.</span>
        <p class="pp-body">
          I originally came up with this idea as a gift for a friend. He would always place the delicate piece precariously on the windowsill, where it had broken once. Since he bought a new one of the same exact type, I figured this time it needed some cushion.
        </p>
      </div>
    </div>
    <div class="pp-motives-right">
      <div class="pp-img-standard">
        <img src="/projects/pipe-throne/content/pipe.jpg" alt="" style="aspect-ratio: 4/3">
      </div>
    </div>
  </section>

  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 5vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        I started by ideating what kind of chair it would be. For a comically tall miniature chair, I was reminded of powerful villains and business owners in cartoons, so my first sketches had sharp points and dramatic curves.
      </p>
      <p class="pp-body">
        Ultimately, I went with a more classic, royal design that would elevate the pipe's aesthetic.
      </p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/pipe-throne/content/sketches.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/pipe-throne/content/lasercut.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">
        For the main body, I lasercut a thin sheet of basswood and then stained it. 
      </p>   
      <p class="pp-body">
        I found the perfect velvet shirt at the thrift store to use for the fabric. For the backrest, I wrapped the fabric around a piece of the lasercut wood, and for the bottom cushion, I wrapped it around some foam I found.
      </p>      
    </div>
  </section>

<!-- details matter section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">details matter</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 8vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
    </div>
    <div class="pp-img-equal-t" style="width:20%">
      <img src="/projects/pipe-throne/content/pipe-throne-skinny.png" alt="">
      <p class="pp-caption">
        The top of the chair has a curve designed for the mouthpiece to rest.
      </p>
    </div>
  </section>


  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn"><span class="btn-arrow">🡠</span>&nbsp;to projects</a> 
    <a href="#top" class="explore-btn"><span class="btn-arrow">🡡</span>&nbsp;to top</a>
  </div>

      <div style="height: 4vh"></div>



  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/dr-seuss-chess/"><img src="/projects/dr-seuss-chess/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/this-website/"><img src="/projects/this-website/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/spencers-gallery/"><img src="/projects/spencers-gallery/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/my-digital-home/"><img src="/projects/my-digital-home/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/sen-charger/"><img src="/projects/sen-charger/content/cover.jpg"></a>
    </div>
  </div>


</div>