---
layout: base.html
title: Pipe Throne
projectName: Pipe Throne
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/spencers-gallery/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/reem/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">Pipe Throne</p>
    <p class="text-xsmall">2024 ✦ model making ✦</p>
    <p class="text-small">I made a miniature throne to display a foot-long gandalf pipe.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/pipe-throne/content/front-light.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Unique or personal artifacts deserve attention towards how they're displayed. This elegant piece of glass needed a cushion that was just as elegant, to elevate the smoking experience.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/pipe-throne/content/pipe-throne-skinny.png">
  </div>
  <div class="p-box-text">
    <p class="text-small">Behind the Scenes</p>
    <p class="text-alt-small-left">I lasercut a thin sheet of basswood, and applied wood stain and varnish.</p>
    <p class="text-alt-small-left">For the cushion, I cut up a thrifted velvet shirt and used fabric glue to wrap it around a piece of foam. I glued the same fabric around a piece of lasercut wood for the backrest.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/pipe-throne/content/lasercut.jpg">
  </div>
</section>