---
layout: base.html
title: Dr. Seuss Chess Set
projectName: Dr. Seuss Chess Set
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/this-website/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/spencers-gallery/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">Dr. Seuss Chess Set</p>
    <p class="text-xsmall">2024 ✦ toy design ✦ model making ✦</p>
    <p class="text-small">I made a chess set based on Seussian architecture.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/red-front.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">Dr. Seuss's whimsical ideas and artwork is truly something unique. The architectural style is otherworldly and often doesn't make logical sense when you look closely, which makes it so compelling. This set aims to give a Seussian twist to classic chess pieces.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/blue.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/chessboard.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/scattered-red.jpg">
  </div>
  <div class="p-full-img-t">
    <img src="/projects/dr-seuss-chess/content/pieces.png">
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/closeup.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/cover.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/closeup3.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-small">Behind the Scenes</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/sketches.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/unfinished-pieces.jpeg">
  </div>
  <div class="p-full-img">
    <img src="/projects/dr-seuss-chess/content/painting.jpg">
  </div>
</section>