---
layout: main.html
title: Dr. Seuss chess set - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/reem/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/IO/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>       
      <h1 class="pp-title">Dr. Seuss chess set</h1>
      <p class="pp-body">Dr. Seuss's whimsical ideas and artwork is truly otherworldly. This set aims to give a Seussian twist to classic chess pieces.</p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <img src="/projects/dr-seuss-chess/content/red-front.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/dr-seuss-chess/content/blue.jpg" alt="">
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/dr-seuss-chess/content/chessboard.jpg" alt="">
      </div>
    </div>
  </section>


  <!-- motives section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">motives</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>


  <section class="pp-motives">
    <div class="pp-motives-left">
      <div class="pp-motive-item">
        <span class="pp-motive-num">01.</span>
        <p class="pp-body">Chess is a unique game in that it takes many forms; there is a traditional set of pieces, but there is also a whole world of custom sets that can take on any form, as long as they have a king, queen, bishop, knight, rook, and pawn.</p>
      </div>
      <div class="pp-motive-item">
        <span class="pp-motive-num">02.</span>
        <p class="pp-body">Many adults, young and old, grew up reading Dr. Seuss books and were captivated by his imaginative worlds. I wanted to imbue the traditional game of chess with his whimsical worldbuilding, for people of all ages to enjoy once again.</p>
      </div>
    </div>
    <div class="pp-motives-right">
      <div class="pp-img-standard">
        <img src="/projects/dr-seuss-chess/content/inspiration.jpg" alt="" style="aspect-ratio: 4/3">
      </div>
    </div>
  </section>

  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 5vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">Check out the video of my process:</p>
    </div>
    <div class="pp-img-standard">
      <iframe width="560" height="515" src="https://www.youtube.com/embed/WXTQM75GRsY?si=93ka796NMn1Px_gQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/dr-seuss-chess/content/models.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">I wanted to learn poly modeling, so I started out in Maya. I got as far as making the silouettes, and then decided to switch to Solidworks--since it was just a two week project, I was running out of time, and I could make each piece in a matter of minutes.</p>      
    </div>
  </section>

  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">Once I had all 32 pieces printed, I spraypainted half of them blue and the other half red. Then I hand painted them all with the main body color.</p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/dr-seuss-chess/content/painting.jpg" alt="">
    </div>
  </section>

<section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/dr-seuss-chess/content/maya.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">I wanted to take this project to the next level and imagine what kind of world these buildings would live in.</p>      
      <p class="pp-body">&nbsp;</p>
      <p class="pp-body">I imported my models back into Maya, modeled a scene with rolling hills and a reflective sky, and rendered the world using Arnold Render.</p>
    </div>
  </section>

  <!-- user flow section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">imagining</div>
    <div class="section-line short"></div>
  </div>
      <div style="height: 5vh"></div>



  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal-u">
        <img src="/projects/dr-seuss-chess/content/cold.jpg" alt="">
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal-u">
        <img src="/projects/dr-seuss-chess/content/closeup3.jpg" alt="">
      </div>
    </div>    
    <div class="pp-details-item">
      <div class="pp-img-equal-u">
        <img src="/projects/dr-seuss-chess/content/final2.jpg" alt="">
      </div>
    </div>
  </section>


  
  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal-u">
        <img src="/projects/dr-seuss-chess/content/top.jpg" alt="">
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal-u">
        <img src="/projects/dr-seuss-chess/content/closeup.jpg" alt="">
      </div>
    </div>    
    <div class="pp-details-item">
      <div class="pp-img-equal-u">
        <img src="/projects/dr-seuss-chess/content/cover.jpg" alt="">
      </div>
    </div>
  </section>

    <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal-t">
        <img src="/projects/dr-seuss-chess/content/pieces.png" alt="">
      </div>
    </div>
  </section>

  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn">🡠 to projects</a>
    <a href="#top" class="explore-btn">🡡 to top</a>
  </div>

      <div style="height: 4vh"></div>



  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/IO/"><img src="/projects/IO/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/this-website/"><img src="/projects/this-website/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/spencers-gallery/"><img src="/projects/spencers-gallery/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/mumo/"><img src="/projects/mumo/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/pipe-throne/"><img src="/projects/pipe-throne/content/cover.jpg"></a>
    </div>
  </div>



</div>