---
layout: main.html
title: reem - Spencer M
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/my-digital-home/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/dr-seuss-chess/">❯</a></p>
</aside>

<div class="project-page" style="background-color: #4d81bd;">

  <!-- radial gradient top -->
  <div id="top" class="page-gradient-top"></div>

  <!-- hero section -->
  <section class="pp-hero">
    <div class="pp-hero-left">
      <a href="/#projects" class="back-arrow"><span class="btn-arrow">🡠</span></a>       
      <h1 class="pp-title">reem</h1>
      <p class="pp-body">A fatal flaw of desktop PCs is that there's no easy way to stream shows & movies from far away--which is especially troubling for those who don't have space for a TV.</p>
      <p class="pp-body">This remote is designed exactly for that. It functions like a flip phone; in its closed state, you have all your streaming shortcuts--pause, rewind, fullscreen, etc. Flip open the remote for full control over the PC with keyboard and mouse controls.</p>
    </div>
    <div class="pp-hero-right">
      <div class="pp-img-main">
        <img src="/projects/reem/content/float.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/reem/content/cover.jpg" alt="">
      </div>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/reem/content/microbit.jpg" alt="">
      </div>
    </div>
  </section>


  <!-- motives section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">motives</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>


  <section class="pp-motives">
    <div class="pp-motives-left">
      <div class="pp-motive-item">
        <span class="pp-motive-num">01.</span>
        <p class="pp-body">For people who don't have a TV and instead watch shows and movies on a PC, it's inconvenient to use the keyboard and mouse because they're at the desk and out of reach. Either you can bring them to where you are (if wireless), or you can get up every time you want to pause or adjust the volume.</p>
      </div>
      <div class="pp-motive-item">
        <span class="pp-motive-num">02.</span>
        <p class="pp-body">Since computers typically require a user to be at a desk, they can be inaccessible to people who are bedridden. A remote would make it much simpler to use the PC.</p>
      </div>
    </div>
    <div class="pp-motives-right">
      <div class="pp-img-standard">
        <img src="/projects/reem/content/cozy.jpg" alt="">
      </div>
    </div>
  </section>

  <!-- design process section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">design process</div>
    <div class="section-line short"></div>
  </div>

        <div style="height: 5vh"></div>


  <section class="pp-text-image">
    <div class="pp-text-image-left">
      <div style="height: 5vh"></div>
      <p class="pp-body">I deduced what's needed:</p>
      <p class="pp-body">1. streaming shortcuts<br>2. full keyboard and mouse capabilities<br>3. portability</p>
    </div>
    <div class="pp-img-standard">
      <img src="/projects/reem/content/process.jpg" alt="">
    </div>
  </section>

  <section class="pp-image-text">
    <div class="pp-img-standard pp-img-large">
      <img src="/projects/reem/content/labeled.jpg" alt="">
    </div>
    <div class="pp-text-image-right">
      <div style="height: 5vh"></div>
      <p class="pp-body">Closed:</p>
      <p class="pp-body">
        ✦ on/off<br>
        ✦ play/pause<br>
        ✦ fullscreen<br>
        ✦ rewind/fast forward
      </p>      
      <p class="pp-body">Open:</p>
      <p class="pp-body">
        ✦ Keyboard<br>
        ✦ Joystick mouse + select<br>
        ✦ cancel/back<br>
        ✦ Scroll up & down<br>
      </p>
      <p class="pp-body">&nbsp;</p>
      <p class="pp-body">+ a volume knob</p>
    </div>
  </section>

  <!-- details matter section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">details matter</div>
    <div class="section-line short"></div>
  </div>

      <div style="height: 5vh"></div>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/reem/content/bed.jpg" alt="">
      </div>
      <p class="pp-caption">With an eye-catching color, it's harder to lose sight of the remote in bed.</p>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/reem/content/closeup.jpg" alt="">
      </div>
      <p class="pp-caption">Engraved buttons that differ in shape and size are recognizable without having to look at the remote.</p>
    </div>
  </section>

  <!-- user flow section -->
  <div class="section-header">
    <div class="section-line"></div>
    <div class="section-title">physical computing</div>
    <div class="section-line short"></div>
  </div>
      <div style="height: 5vh"></div>

  <section class="pp-details">
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/reem/content/sensors.jpg" alt="">
      </div>
        <p class="pp-caption">I started by getting the microbit to recognize the sensors on the breadboard.</p>
    </div>
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/reem/content/microbit.jpg" alt="">
      </div>
        <p class="pp-caption">I used a joystick for the mouse, a rotary encoder for the volume knob, and a button for the other controls.</p>
    </div>    
    <div class="pp-details-item">
      <div class="pp-img-equal">
        <img src="/projects/reem/content/volume.gif" alt="">
      </div>
        <p class="pp-caption"><a href="https://makecode.microbit.org/S41977-12048-30002-51544" target="_blank">Check out the code&nbsp;<span class="btn-arrow">🡥</span></a></p>
    </div>
  </section>
  

  <div class="about-links" style="gap: 5vw">
    <a href="/#projects" class="explore-btn"><span class="btn-arrow">🡠</span>&nbsp;to projects</a> 
    <a href="#top" class="explore-btn"><span class="btn-arrow">🡡</span>&nbsp;to top</a>
  </div>

      <div style="height: 4vh"></div>



  <div class="other-projects">
    <div class="other-projects-item">
      <a href="/projects/spencers-gallery/"><img src="/projects/spencers-gallery/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/mumo/"><img src="/projects/mumo/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/pipe-throne/"><img src="/projects/pipe-throne/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/diski/"><img src="/projects/diski/content/cover.jpg"></a>
    </div>
    <div class="other-projects-item">
      <a href="/projects/sen-charger/"><img src="/projects/sen-charger/content/cover.jpg"></a>
    </div>
  </div>



</div>