---
layout: base.html
title: Reem
projectName: Reem
---

<aside class="arrow-left">
  <p class="arrow-text"><a href="/projects/pipe-throne/">❮</a></p>
</aside>
<aside class="arrow-right">
  <p class="arrow-text"><a href="/projects/diski/">❯</a></p>
</aside>

<section id="project">
  <div class="p-box-text">
    <p class="text-medium">Reem</p>
    <p class="text-xsmall">2025 ✦ microbit ✦ physical computing ✦ model making ✦</p>
    <p class="text-small">I designed a remote control for streaming on a PC.</p>
  </div>
  <div class="p-full-img">
    <img src="/projects/reem/content/remote-open.5.jpg">
  </div>
  <div class="p-box-text">
    <p class="text-alt-small-left">For people who don't have a TV and instead watch shows and movies on a PC, it's inconvenient to use the keyboard and mouse because they're at the desk and out of reach. Either you can bring them to where you are (if wireless), or you can get up every time you want to pause or adjust the volume.</p>
    <p class="text-alt-small-left">This remote is designed like a flip phone. When it's closed, you have all your streaming shortcuts--pause, rewind, fullscreen, etc. If you want full control over the PC, to look up a new show for example, you can open the remote to use the full keyboard, joystick mouse, and scroll buttons.</p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/reem/content/labeled-white.png">
  </div>
  <div class="p-full-img">
    <img src="/projects/reem/content/remote-closed.jpg">
  </div>
  <div class="p-full-img">
    <img src="/projects/reem/content/incontext.jpg">
  </div>
  <div class="p-box-text">
    <p>&nbsp;</p>
    <p class="text-small">Physical Computing</p>
    <p class="text-alt-small-left">I coded a microbit to simulate how the remote controls the computer screen. I used a joystick for the mouse, a rotary encoder for the volume knob, and a button for playback.</p>
    <p class="text-alt-small-left"><a href="https://makecode.microbit.org/S41977-12048-30002-51544" target="_blank">Take a look at the code</a></p>
  </div>
  <div class="p-full-img-t">
    <img src="/projects/reem/content/microbit.png">
  </div>
  <div class="p-full-img">
    <img src="/projects/reem/content/code.jpg">
  </div>
</section>